Package: giternal
Version: 0.1.0
Section: devel
Priority: optional
Architecture: all
Depends: rubygems, ruby, git-core
Recommends: 
Suggests: 
Maintainer: Julian Simpson <medic@build-doctor.com>
Replaces: 
Description: Non-sucky git externals
 Pat Maddox's Ruby based tool for managing Git externals with a dotfile.

